<li class="col">
    <a href="{{ url_for('artpiece', id=item._id) }}" class="white-text">
        <figure class="hoverable">
            <img src="{{ item.image }}" alt="{{ item.title }}" onerror="this.onerror=null;this.src='{{ url_for('static', filename='images/no_img.png') }}';">
            <figcaption>
                <p class="white-text text-shadow">{{ item.author|truncate(20) }}</p>
                <p>{{ item.year }}</p>
            </figcaption>
        </figure>
    </a>
    <p class="black-text bold">{{ item.title|truncate(50) }}</p>
    <p class="grey-text text-darken-1 bold">{{ item.author|truncate(50) }}</p>
    <p class="black-text bold">
        <small>
            <img src="https://www.countryflags.io/{{ item.country }}/flat/24.png">
        </small>
    </p>
</li>
