<div class="footer-copyright">
    <div class="container bold font-gilbert">
        &copy; 2021 
        <a class="white-text font-gilbert" href="{{ url_for('home') }}">
            The
            <span class="pink-text font-gilbert">R</span><span class="purple-text font-gilbert">a</span><span class="blue-text text-darken-2 font-gilbert">i</span><span class="light-green-text text-accent-3 font-gilbert">n</span><span class="yellow-text text-accent-2 font-gilbert">b</span><span class="orange-text font-gilbert">o</span><span class="red-text font-gilbert">w</span>
            Collection
        </a>
        <a href="https://code-institute-room.slack.com/archives/C021R231V9A" target="_blank" class="center-align bold right">
            #proud-coders hackathon
        </a>
    </div>
</div>
