<li><a href="{{ url_for('home') }}" class="bold">Home</a></li>
<li class="divider"></li>
<li><a href="{{ url_for('category', category='artwork') }}" class="bold">Artwork</a></li>
<li><a href="{{ url_for('category', category='books') }}" class="bold">Books</a></li>
<li><a href="{{ url_for('category', category='movies') }}" class="bold">Movies</a></li>
<li><a href="{{ url_for('category', category='music') }}" class="bold">Music</a></li>
<li><a href="{{ url_for('category', category='podcasts') }}" class="bold">Podcasts</a></li>
{% if session.user %}
<!-- user is logged-in -->
    <li class="divider"></li>
    <li><a href="{{ url_for('suggestions') }}" class="bold">Make a Suggestion</a></li>
    <li class="divider"></li>
    <li><a href="{{ url_for('profile', username=session['user']) }}" class="bold">Profile</a></li>
    <li><a href="{{ url_for('logout') }}" class="bold">Log Out</a></li>
{% else %}
    <!-- user is not logged-in -->
    <li class="divider"></li>
    <li><a href="{{ url_for('login') }}" class="bold">Log In</a></li>
    <li><a href="{{ url_for('register') }}" class="bold">Register</a></li>
{% endif %}

<!-- sidenav footer -->
<li class="blue-grey lighten-2">
    <a href="https://code-institute-room.slack.com/archives/C021R231V9A" target="_blank" class="center-align bold">
        #proud-coders hackathon
    </a>
</li>
