@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:wght@300;400&display=swap");

/* GLOBAL SETTINGS */
@font-face {
    font-family: "Gilbert";
    src: url("../fonts/gilbert.woff");
}

* {
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4 {
    font-family: "Gilbert", "Bangers", sans-serif;
}

.font-gilbert {
    font-family: "gilbert", "Bangers", sans-serif;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.bold {
    font-weight: bold;
}


/* AVATARS */
.avatar {
    height: 1em;
    vertical-align: middle;
}


/* FLASH MESSAGES */
.flashes h4 {
    line-height: 2;
    width: 100%;
}

#flashToast {
    visibility: hidden;
    width: 100%;
    padding: 2em 1em;
    position: fixed;
    z-index: 100;
    top: 4em;
    font-size: 2em;
}

#flashToast.show {
    visibility: visible;
    animation: flashToast-on 0.5s, flashToast-off 0.5s 3.5s;
}

@keyframes flashToast-on {
    from {top: 0; opacity: 0;}
    to {top: 4em; opacity: 1;}
}

@keyframes flashToast-off {
    from {top: 4em; opacity: 1;}
    to {top: 0; opacity: 0;}
}

/* Colors */
.light-register {
    background-color: #778DA9;
}

/* CARDS */


.card-image img {
    object-fit: cover;
    height: 30vw;
}

/* BACKGROUNDS */
.pride-flag {
    height: 100vh;
    background: url('../images/rainbow_flag_small.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
}

/* REVIEWS */
.review-bubble {
    border: 1px solid #000;
    border-radius: 0.5rem;
}

/* FORM */
.add-border {
    border: 1px solid #CFEBDF;
    
}

.add-height {
    height: 200px;
}

