/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:wght@300;400&display=swap");


/* GLOBAL SETTINGS */
@font-face {
    font-family: "Gilbert";
    src: url("../fonts/gilbert.woff");
}

* {
    font-family: "Montserrat", sans-serif;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: url("../images/rainbow_flag_opacity.png") no-repeat center center fixed;
    background-size: cover;
}

main {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    padding: 2.5em 0;
}

main.container {
    width: 90%;
}

h1, h2, h3, h4 {
    font-family: "Gilbert", "Bangers", sans-serif;
}

.font-gilbert {
    font-family: "gilbert", "Bangers", sans-serif;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.text-shadow-none {
    text-shadow: unset;
}

.bold {
    font-weight: bold;
}

.black-opacity-bg {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
}


/*------ PRELOADER -----*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
    text-align: center;
    color: black;
    background: white;
}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

#loader img {
    width: 25vw;
}


/* AVATARS */
.avatar {
    height: 1em;
    vertical-align: middle;
}


/* NAVBAR */
nav .brand-logo {
    padding-left: 1em;
}

.main-logo {
    vertical-align: middle;
    margin: 0.5em auto;
}

#category-menu {
    height: 2.5em;
    line-height: 2.5em;
}

#category-menu .nav-wrapper {
    text-transform: uppercase;
}

nav .nav-wrapper .col {
    margin: 0 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 2.5em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

nav .nav-wrapper .col a {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.fa-bars {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

nav .nav-wrapper .col a:hover,
.fa-bars:hover {
    color: #ffca28;
}

nav .nav-wrapper .col i {
    line-height: 1.5em;
}

nav .nav-wrapper .right {
    padding-right: 1em;
}

nav #account-dropdown {
    top: -64px;
}

nav #account-dropdown li a {
    color: white;
}

nav #account-dropdown li:hover {
    background-color: #78909c;
}

.sidenav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.sidenav li>a {
    font-weight: bold;
}

.sidenav li:first-of-type {
    letter-spacing: 5px;
}

.sidenav li:last-of-type {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60px;
}
/* HOME */

.about {
    text-align: center;
    font-size:xx-large;
    font-weight: 900;
    max-width: 900px;
    margin: 0 auto;
}

.recommend {    
    display: -ms-grid;    
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    padding: 20px 20px 150px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.recommend h2 {
    color:white;
}
.recommend .buttons {
    background-color: white;
    color: black;
    padding: 10px 35px;
    border-radius: 15px;
    display: inline-block;
    text-decoration: none;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}




/* HR */
hr.divider { 
    position: relative;
    height: 0.25em; 
    border: 0;
    overflow: hidden;
    opacity: 0.75;
}

hr.divider::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 0.25em;
    width: 5em;
    background: #181818;
    -webkit-box-shadow:
        5em 0 0 0 #784F17,
        10em 0 0 0 #FE0000,
        15em 0 0 0 #FD8C00,
        20em 0 0 0 #FFE500,
        25em 0 0 0 #119F0B,
        30em 0 0 0 #0644B3,
        35em 0 0 0 #C22EDC,
        40em 0 0 0 #181818,
        45em 0 0 0 #784F17,
        50em 0 0 0 #FE0000,
        55em 0 0 0 #FD8C00,
        60em 0 0 0 #FFE500,
        65em 0 0 0 #119F0B,
        70em 0 0 0 #0644B3,
        75em 0 0 0 #C22EDC,
        80em 0 0 0 #181818,
        85em 0 0 0 #784F17;
            box-shadow:
        5em 0 0 0 #784F17,
        10em 0 0 0 #FE0000,
        15em 0 0 0 #FD8C00,
        20em 0 0 0 #FFE500,
        25em 0 0 0 #119F0B,
        30em 0 0 0 #0644B3,
        35em 0 0 0 #C22EDC,
        40em 0 0 0 #181818,
        45em 0 0 0 #784F17,
        50em 0 0 0 #FE0000,
        55em 0 0 0 #FD8C00,
        60em 0 0 0 #FFE500,
        65em 0 0 0 #119F0B,
        70em 0 0 0 #0644B3,
        75em 0 0 0 #C22EDC,
        80em 0 0 0 #181818,
        85em 0 0 0 #784F17;
}


/* FLASH MESSAGES */
.flashes h4 {
    line-height: 2;
    width: 100%;
}

#flashToast {
    visibility: hidden;
    width: 100%;
    padding: 2em 1em;
    position: fixed;
    z-index: 100;
    top: 4em;
    font-size: 2em;
    background-color: rgba(255, 255, 255, 0.90);
    border: 0.25em solid transparent;
    -o-border-image: -o-linear-gradient(left, rgba(24, 24, 24, 0.85) 12.5%,
        rgba(120, 79, 23, 0.85) 12.5%, 25%, rgba(254, 0, 0, 0.85) 25%, 37.5%,
        rgba(253, 140, 0, 0.85) 37.5%, 50%, rgba(255, 229, 0, 0.85) 50%, 62.5%,
        rgba(17, 159, 11, 0.85) 62.5%, 75%, rgba(6, 68, 179, 0.85) 75%, 87.5%,
        rgba(194, 46, 220, 0.85) 87.5%);
       border-image: -webkit-gradient(linear, left top, right top, color-stop(12.5%, rgba(24, 24, 24, 0.85)),
        color-stop(12.5%, rgba(120, 79, 23, 0.85)), color-stop(25%), color-stop(25%, rgba(254, 0, 0, 0.85)), color-stop(37.5%),
        color-stop(37.5%, rgba(253, 140, 0, 0.85)), color-stop(50%), color-stop(50%, rgba(255, 229, 0, 0.85)), color-stop(62.5%),
        color-stop(62.5%, rgba(17, 159, 11, 0.85)), color-stop(75%), color-stop(75%, rgba(6, 68, 179, 0.85)), color-stop(87.5%),
        color-stop(87.5%, rgba(194, 46, 220, 0.85)));
       border-image: linear-gradient(90deg, rgba(24, 24, 24, 0.85) 12.5%,
        rgba(120, 79, 23, 0.85) 12.5%, 25%, rgba(254, 0, 0, 0.85) 25%, 37.5%,
        rgba(253, 140, 0, 0.85) 37.5%, 50%, rgba(255, 229, 0, 0.85) 50%, 62.5%,
        rgba(17, 159, 11, 0.85) 62.5%, 75%, rgba(6, 68, 179, 0.85) 75%, 87.5%,
        rgba(194, 46, 220, 0.85) 87.5%);
    border-image-slice: 1;
}

#flashToast.show {
    visibility: visible;
    -webkit-animation: flashToast-on 0.5s, flashToast-off 0.5s 3.5s;
            animation: flashToast-on 0.5s, flashToast-off 0.5s 3.5s;
}

@-webkit-keyframes flashToast-on {
    from {top: 0; opacity: 0;}
    to {top: 4em; opacity: 1;}
}

@keyframes flashToast-on {
    from {top: 0; opacity: 0;}
    to {top: 4em; opacity: 1;}
}

@-webkit-keyframes flashToast-off {
    from {top: 4em; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes flashToast-off {
    from {top: 4em; opacity: 1;}
    to {top: 0; opacity: 0;}
}


/* REGISTER */
#register,
#login {
    border-radius: 1em;
}

#register h3,
#login h3 {
    padding: 0.5em;
    letter-spacing: 5px;
    font-size: 4rem;
}


/* CARDS */
.card-image img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 15vw;
}

.card .card-image .card-title {
    padding: 0;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    background: rgba(0, 0, 0, 0.75);
    border-top: 5px solid rgba(0, 0, 0, 1);
    border-bottom: 5px solid rgba(0, 0, 0, 1);
}

.card .card-image,
.card .card-image .card-title {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-image:hover .card-title {
    height: 100%;
}


/* CARD-LIST */
.card-list {
    width: 100%;
    margin: 0 auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    justify-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.card-list li {
    margin: 1em auto;
    width: calc(175px + 1em);
}

.card-list li p {
    line-height: 0.5;
}

.card-list li figure {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    height: 250px;
    -webkit-perspective: 50em;
            perspective: 50em;
    border-radius: 8px;
    vertical-align: middle;
    display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card-list li figure p {
    line-height: unset;
}

.card-list li figure img {
    width: 100%;
    border-radius: 8px;
    vertical-align: middle;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card-list li figure figcaption {
    position: absolute;
    width: 100%;
    padding: 3%;
    text-align: center;
    z-index: 2;
    top: 50%;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card-list li figure figcaption p {
    font-size: 2em;
    font-weight: bolder;
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.card-list li figure::after {
    position: absolute;
    content: "";
    top: 12px;
    left: 12px;
    right: 12px;
    bottom: 12px;
    opacity: 0;
    background-color: black;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(12.5%, #181818),
		color-stop(12.5%, #784F17), color-stop(25%), color-stop(25%, #FE0000), color-stop(37.5%),
		color-stop(37.5%, #FD8C00), color-stop(50%), color-stop(50%, #FFE500), color-stop(62.5%),
		color-stop(62.5%, #119F0B), color-stop(75%), color-stop(75%, #0644B3), color-stop(87.5%),
		color-stop(87.5%, #C22EDC));
    background: -o-linear-gradient(top, #181818 12.5%,
		#784F17 12.5%, 25%, #FE0000 25%, 37.5%,
		#FD8C00 37.5%, 50%, #FFE500 50%, 62.5%,
		#119F0B 62.5%, 75%, #0644B3 75%, 87.5%,
		#C22EDC 87.5%);
    background: linear-gradient(180deg, #181818 12.5%,
		#784F17 12.5%, 25%, #FE0000 25%, 37.5%,
		#FD8C00 37.5%, 50%, #FFE500 50%, 62.5%,
		#119F0B 62.5%, 75%, #0644B3 75%, 87.5%,
		#C22EDC 87.5%);
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.2s;
         -o-transition-delay: 0.2s;
            transition-delay: 0.2s;
}

.card-list li figure:hover img {
    -webkit-transform: scale(1.25);
        -ms-transform: scale(1.25);
            transform: scale(1.25);
    opacity: 0.25;
}

.card-list li figure:hover {
    background-color: white;
}

.card-list li figure:hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.5s;
         -o-transition-delay: 0.5s;
            transition-delay: 0.5s;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.card-list li figure:hover::after,
.card-list li figure.hover::after {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 0.9;
}


/* REVIEWS */
.review-bubble {
    border: 1px solid #000;
    background: #fff;
    margin-bottom: 10px;
}


/* FORM */
.add-border {
    border: 1px solid #CFEBDF;
}

.add-height {
    height: 200px;
}

 .form-label {
    color: #000;
    font-weight: bold;
    font-size: 20px;
}

.suggestion-form .blue-grey {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 20px !important;
    font-weight: bold;
    text-transform: none;
    margin-top: 20px;
}

#override-materialize .select-wrapper input.select-dropdown {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 20px !important;
    font-weight: bold;
    color: #000;
}

::-webkit-input-placeholder {
    color: #000;
    font-size: 20px;
}

/* COLLECTION */
.collection .collection-item.avatar:not(.circle-clipper)>.circle,
.collection .collection-item.avatar :not(.circle-clipper)>.circle {
    width: unset;
    height: 60px;
}

li.collection-item.avatar img.circle {
    border-radius: unset;
}

#admin-collection.collection .collection-item.avatar {
    height: auto;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 370px) {
    nav .brand-logo {
        font-size: 7.5vw;
    }
}