{% extends "base.html" %}
{% block content %}

<div class="row">
{% for item in art|reverse %}

<div class="col s12 m6 l3">

    <ul>
        <li>
            <img src="{{ item.image }}" alt="{{ item.title }}" onerror="this.onerror=null;this.src='{{ url_for('static', filename='images/no_img.png') }}';">
        </li>
        <li><p class="white-text text-shadow">{{ item.title|truncate(20) }}</p></li>
        <li><p class="white-text text-shadow">{{ item.author|truncate(20) }}</p></li>
        <li><p>{{ item.year }}</p></li>     
    </ul>
</div>

{% endfor %}
</div>
{% endblock %}
