{% extends "base.html" %}
{% block content %}

<!-- ARTWORK -->
<ul class="row card-list">
    {% for item in artwork %}
        {% if loop.index <= 5 %}
            {% include "partials/cards.html" %}
        {% endif %}
    {% endfor %}
    <li class="col center-align">
        <a href="{{ url_for('category', category='artwork') }}">
            <h1 class="red-text text-accent-2 text-shadow">VIEW ALL</h1>
            <span class="btn-large red accent-2 bold text-shadow hoverable">ARTWORK</span>
        </a>
    </li>
</ul>

<br><hr class="divider"><br>

<!-- BOOKS -->
<ul class="row card-list">
    {% for item in books %}
        {% if loop.index <= 5 %}
            {% include "partials/cards.html" %}
        {% endif %}
    {% endfor %}
    <li class="col center-align">
        <a href="{{ url_for('category', category='books') }}">
            <h1 class="amber-text text-lighten-1 text-shadow">VIEW ALL</h1>
            <span class="btn-large amber lighten-1 black-text bold text-shadow hoverable">BOOKS</span>
        </a>
    </li>
</ul>

<br><hr class="divider"><br>

<!-- MOVIES -->
<ul class="row card-list">
    {% for item in movies %}
        {% if loop.index <= 5 %}
            {% include "partials/cards.html" %}
        {% endif %}
    {% endfor %}
    <li class="col center-align">
        <a href="{{ url_for('category', category='music') }}">
            <h1 class="green-text text-accent-3 text-shadow">VIEW ALL</h1>
            <span class="btn-large green accent-3 black-text bold text-shadow hoverable">MOVIES</span>
        </a>
    </li>
</ul>

<br><hr class="divider"><br>

<!-- MUSIC -->
<ul class="row card-list">
    {% for item in music %}
        {% if loop.index <= 5 %}
            {% include "partials/cards.html" %}
        {% endif %}
    {% endfor %}
    <li class="col center-align">
        <a href="{{ url_for('category', category='music') }}">
            <h1 class="blue-text text-accent-3 text-shadow">VIEW ALL</h1>
            <span class="btn-large blue accent-3 black-text bold text-shadow hoverable">MUSIC</span>
        </a>
    </li>
</ul>

<br><hr class="divider"><br>

<!-- PODCASTS -->
<ul class="row card-list">
    {% for item in podcasts %}
        {% if loop.index <= 5 %}
            {% include "partials/cards.html" %}
        {% endif %}
    {% endfor %}
    <li class="col center-align">
        <a href="{{ url_for('category', category='podcasts') }}">
            <h1 class="purple-text text-accent-2 text-shadow">VIEW ALL</h1>
            <span class="btn-large purple accent-2 black-text bold text-shadow hoverable">PODCASTS</span>
        </a>
    </li>
</ul>

{% endblock %}
