{% extends "base.html" %}
{% block content %}

<div>
<h1>The
<span class="pink-text font-gilbert">R</span><span class="purple-text font-gilbert">a</span><span class="blue-text text-darken-2 font-gilbert">i</span><span class="light-green-text text-accent-3 font-gilbert">n</span><span class="yellow-text text-accent-2 font-gilbert">b</span><span class="orange-text font-gilbert">o</span><span class="red-text font-gilbert">w</span>
Collection
</h1>
</div>

<!--ABOUT THE RAINBOW COLLECTION-->
<div class="about">
<p>The <span class="pink-text font-gilbert">R</span><span class="purple-text font-gilbert">a</span><span class="blue-text text-darken-2 font-gilbert">i</span><span class="light-green-text text-accent-3 font-gilbert">n</span><span class="yellow-text text-accent-2 font-gilbert">b</span><span class="orange-text font-gilbert">o</span><span class="red-text font-gilbert">w</span> Collection is a collaborative library that shares and celebrates creative production made by, for, and about the LGBTQA+ community. </p>
<br>
<p>We believe representation is a powerful tool to shaping an artistic scene that is diverse, inclusive and colourful! </p>
<br>
<p>Contribute to our ever-growing collection!</p>
<br>
</div>

<!--RECOMMENDATION-->
<div class="recommend">
    <h2>Recommend me a...</h2>
    <div>
    <a href="https://8080-crimson-goat-t3dadzmu.ws-eu09.gitpod.io/category/artwork"><button class="buttons">Artwork</button></a>
    <a href="https://8080-crimson-goat-t3dadzmu.ws-eu09.gitpod.io/category/books"><button class="buttons">Book</button></a>
    <a href="https://8080-crimson-goat-t3dadzmu.ws-eu09.gitpod.io/category/movies"><button class="buttons">Movie</button></a>
    <a href="https://8080-crimson-goat-t3dadzmu.ws-eu09.gitpod.io/category/music"><button class="buttons">Music</button></a>
    <a href="https://8080-crimson-goat-t3dadzmu.ws-eu09.gitpod.io/category/podcasts"><button class="buttons">Podcast</button></a>
    </div>
</div>
<br>
<br>
<!-- ARTWORK -->
<ul class="row card-list">
    {% for item in artwork %}
        {% if loop.index <= 5 %}
            {% include "partials/cards.html" %}
        {% endif %}
    {% endfor %}
    <li class="col center-align">
        <a href="{{ url_for('category', category='artwork') }}">
            <h1 class="red-text text-accent-2 text-shadow">VIEW ALL</h1>
            <span class="btn-large red accent-2 bold text-shadow hoverable">ARTWORK</span>
        </a>
    </li>
</ul>

<br><hr class="divider"><br>

<!-- BOOKS -->
<ul class="row card-list">
    {% for item in books %}
        {% if loop.index <= 5 %}
            {% include "partials/cards.html" %}
        {% endif %}
    {% endfor %}
    <li class="col center-align">
        <a href="{{ url_for('category', category='books') }}">
            <h1 class="amber-text text-lighten-1 text-shadow">VIEW ALL</h1>
            <span class="btn-large amber lighten-1 black-text bold text-shadow hoverable">BOOKS</span>
        </a>
    </li>
</ul>

<br><hr class="divider"><br>

<!-- MOVIES -->
<ul class="row card-list">
    {% for item in movies %}
        {% if loop.index <= 5 %}
            {% include "partials/cards.html" %}
        {% endif %}
    {% endfor %}
    <li class="col center-align">
        <a href="{{ url_for('category', category='music') }}">
            <h1 class="green-text text-accent-3 text-shadow">VIEW ALL</h1>
            <span class="btn-large green accent-3 black-text bold text-shadow hoverable">MOVIES</span>
        </a>
    </li>
</ul>

<br><hr class="divider"><br>

<!-- MUSIC -->
<ul class="row card-list">
    {% for item in music %}
        {% if loop.index <= 5 %}
            {% include "partials/cards.html" %}
        {% endif %}
    {% endfor %}
    <li class="col center-align">
        <a href="{{ url_for('category', category='music') }}">
            <h1 class="blue-text text-accent-3 text-shadow">VIEW ALL</h1>
            <span class="btn-large blue accent-3 black-text bold text-shadow hoverable">MUSIC</span>
        </a>
    </li>
</ul>

<br><hr class="divider"><br>

<!-- PODCASTS -->
<ul class="row card-list">
    {% for item in podcasts %}
        {% if loop.index <= 5 %}
            {% include "partials/cards.html" %}
        {% endif %}
    {% endfor %}
    <li class="col center-align">
        <a href="{{ url_for('category', category='podcasts') }}">
            <h1 class="purple-text text-accent-2 text-shadow">VIEW ALL</h1>
            <span class="btn-large purple accent-2 black-text bold text-shadow hoverable">PODCASTS</span>
        </a>
    </li>
</ul>

{% endblock %}
