{% extends "base.html" %}
{% block content %}


<div class="row black-opacity-bg white-text">
    <div class="col s12 m8 offset-m2 l10 offset-l1">
        <h3 class="center-align">
            Do you know any amazing work you would like us to add to the database?
        </h3>
        <h3 class="center-align">Send us your suggestion!</h3>
    </div>
</div>

<div class="row black-opacity-bg">
    <form class="col s12 m8 offset-m2 l10 offset-l1" action="{{ url_for('suggestions') }}" method="POST">
        <div class="row">
            <div class="input-field col s12 m6">
                <input placeholder="John" id="first_name" type="text" class="validate" required>
                <label for="first_name">First Name</label>
            </div>

            <div class="input-field col s12 m6">
                <input placeholder="Doe" id="surname" type="text" class="validate" required />
                <label for="surname">Surname</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
                <input placeholder="you@mail.com" input id="email" type="email" class="validate" required />
                <label for="email">Email</label>
            </div>
            <div class="input-field col s12 m6">
                <select required>
                    <option selected disabled value="">Choose your option</option>
                    {% for category in categories %}
                        <option value="{{ category.category_name }}">{{ category.category_name|title }}</option>
                    {% endfor %}
                </select>
                <label>Select category</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 add-height add-border">
                <textarea placeholder="Summary of your suggested work" id="textarea1" class="materialize-textarea" required></textarea>
                <label for="textarea1">Summary</label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn waves-effect waves-light" type="submit" disabled>
                    <!-- keep this disabled - the python functionality is not set-up yet -->
                    <!-- keep this disabled - the python functionality is not set-up yet -->
                    <!-- keep this disabled - the python functionality is not set-up yet -->
                    Submit
                    <span class="ml-1"><i class="far fa-paper-plane"></i></span>
                </button>
            </div>
        </div>
    </form>
</div>



{% endblock %}
