{% extends "base.html" %}
{% block content %}


<div class="row white-opacity-bg black-text">
    <div class="col s12 m8 offset-m2 l10 offset-l1">
        <h3 class="center-align">
            Do you know any amazing work you would like us to add to the database?
        </h3>
        <h3 class="center-align">Send us your suggestion!</h3>
    </div>
</div>

<div class="row white-opacity-bg suggestion-form">
    <form class="col s12" method="POST" action="{{ url_for('suggestions') }}">
        <!-- Title -->
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" class="form-control" id="title" minlength="3" maxlength="100">
        
        <!-- Author -->
            <label for="author" class="form-label">Author</label>
            <input type="text" name="author" class="form-control" id="author" minlength="5" maxlength="50">
        
        <!-- Year -->
            <label for="year" class="form-label">Year</label>
            <input type="number" name="year" minlength="4" maxlength="4" class="form-control" id="year">
        
        <!-- Country -->
            <label for="country" class="form-label">Country (2-letters)</label>
            <input type="text" name="country" pattern="^[a-zA-Z]{2}$" minlength="2" maxlength="2" class="form-control" id="country">
        
        <!-- Summary -->
            <label for="summary" class="form-label">Summary</label>
            <textarea type="text" name="summary" class="materialize-textarea form-control" id="summary"></textarea>
        
        <!-- Category -->
            <select class="form-select" name="category" aria-label="form-select-lg">
                <option selected>Pick a category</option>
                {% for cat in categories %}
                <option value="{{ cat.category_name }}">{{ cat.category_name|title }}</option>
                {% endfor %}
            </select>
        
        <!-- Explicity -->
            <select class="form-select" name="is_explicit" aria-label="form-select-lg">
                <option selected>Is it explicit?</option>
                <option value="True">Yes</option>
                <option value="False">No</option>
            </select>
        
        <!-- Cover upload -->
            <label for="cover" class="form-label">Paste cover url here</label>
            <input type="url" name="cover" class="form-control" id="cover">
        
        <!-- Website -->
            <label for="website" class="form-label">Website</label>
            <input type="url" name="website" class="form-control" id="website">
        
        <!-- Submit -->
        <button type="submit" class="waves-effect btn-flat">Submit</button>
    </form>
</div>



{% endblock %}
